body{
    background-color: black;
}


.line .line2 {
    width: 500px;
    height: 10px;
    border-top: 2px dashed white;
    top: 20%;
    position: absolute;
    }

.line2{
    top: 30%;
    left: 50%;
}

.road{
    width: 100px;
    height: 50px;
    top: 80%;
    border-top: white   ;
}