html {
    scroll-behavior: smooth;
}

.trColor{
    /* background-color: #f4511e; */
  background-color: #6b6b47;
}

    .pricing{
            border-color:solid 1px red;
            color: honeydew;
            }


.fontSize{
            font-size: px;
            }

    .pBorder{
            border: none;
            }  
            
    .pPadding {
           padding: 40px;

            }




.h2{
    transform: uppercase    ;
    color: #818181;
    margin-bottom: 30px;
    }

#carouselExampleCaptions {
    height: 150px;
    width: 800px;
}

.carousel-indicators li {
    background-color: #f4511e;

}

.carousel-inner {
    padding-top: 55px;
}


.p{
    font: 400 15px "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: rgb(53, 50, 50)
}




.red200p{
color: red;
font-size: 200px !important;

}

.red50p {
    color: red;
    font-size: 50px !important;
    
    }
    
.text-red{
            color: red;
            text-decoration-thickness: 20px;
        }


.align{
  margin: auto;
  text-align: center;
}

.backColour{
    background-color:#f6f6f6;
}


.cardBorder{
    border:solid 1px gray;

}

.contactFontColor{
    color: grey;
}
 .cText{
     text-align: left;
 }